<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Select Topic</title>
</head>
<body>
    <h1>Select a Topic</h1>
    <ul>
        {% for topic in topics %}
            <li><a href="{{ url_for('test', topic_id=topic.id) }}">{{ topic.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Go Home</a>
</body>
</html>
