<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Test</title>
</head>
<body>
    <h1>Test: {{ topic.name }}</h1>
    <form action="{{ url_for('result', topic_id=topic.id) }}" method="post">
        {% for i, question in enumerate(questions) %}
            <div>
                <p>{{ question.question_text }}</p>
                {% for choice in [question.choice1, question.choice2, question.choice3, question.choice4] %}
                    <label>
                        <input type="radio" name="question-{{ i }}" value="{{ choice }}" required>
                        {{ choice }}
                    </label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
